* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main-container {
    background-color: #6d9992;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px;
    height: 500px;
    width: 800px;
    border-radius: 15px;
}

.header {
    display: flex;
    align-items: center;
    gap: 200px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 8px;
    transition-duration: 300ms;
}

.logo:hover  {
    background-color: #acacac;

}

.logo > img {
    width: 40px;
}

.main-heading > h1 {
    font-size: 40px;

}

.main-heading > p {
    font-family: 0Arial, Helvetica, sans-serif;
}

.subject-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #fff;
    width: 770px;
    height: 200px;
    border-radius: 12px;
}