* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, #faf6fc, #efe8f4);
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main-container {
    background-color: #6d9992;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px;
    height: 500px;
    width: 800px;
    max-width: 800px;
    border-radius: 15px;
}