@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  ---primary-color---: #440083;
}

body {
  background: linear-gradient(180deg, #faf6fc, #efe8f4);
  display: flex;
  align-items: center;
  font-family: roboto, sans-serif;
  justify-content: center;
  height: 100vh;
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 15px;
  height: 600px;
  width: 800px;
  max-width: 800px;
  border-radius: 15px;
}

.input-line {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.input-line > div> input {
  width: 135px;
  padding: 2px;
  height: 30px;
}

.search-btn {
  padding: 8px 5px;
  color: #ffffff;
  background-color: var(---primary-color---);
  border-radius: 8px;
  border: none;
}

#main-table {
  width: 100%;
  border-collapse: collapse;
  font-family: system-ui, sans-serif;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  text-align: center;

}

#main-table thead {
  background-color: var(---primary-color---);
  color: #fff;
}


#main-table th,
#main-table td {
  padding: 6px 20px;
  text-align: center;
}

#main-table tbody tr td , th {
  border: 1px solid #e5e7eb;
}

#main-table tbody tr:hover {
  background-color: #f9fafb;
  cursor: pointer;
}

#main-table .bgc-color{
  color: #ffffff;
  background-color: var(---primary-color---);
  
}